{#- Template for GitHub Action.

This template renders a GitHub Action.

Context:
  data (mkdocstrings_handlers.github.objects.Action): The action to render.
  config (mkdocstrings_handlers.github.config.GitHubConfig): The global configuration
  options (dict): The local options
-#}

{% block logs scoped %}
  {#- Logging block.

  This block can be used to log debug messages, deprecation messages, warnings, etc.
  -#}
  {{ log.debug("Rendering " + data.id) }}
{% endblock logs %}

{% if options.show_action_branding and data.branding %}
  <script src="{{ config.feather_icons_source }}"></script>
{% endif %}
<div class="doc doc-object doc-action">
  {% if options.show_heading %}
    {% filter heading(
      options.heading_level,
      role="action",
      id=data.id,
      class="doc doc-heading",
      toc_label=(('<i data-feather="{{ data.branding.icon }}"></i>&nbsp;')|safe if options.show_symbol_type_toc else '') + (options.toc_label if options.toc_label else data.name),
    )%}
      {% block heading scoped %}
        {# {% if options.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-action"></code>{% endif %} #}
        {% if options.show_action_branding and data.branding %}
          {% if data.branding.icon %}
            <div class="gh-action-badge-img gh-action-badge--{{ data.branding.color }}">
              <i data-feather="{{ data.branding.icon }}"></i>
            </div>
          {% endif %}
        {% endif %}
        {{ options.heading if options.heading else data.name }}
      {% endblock heading %}
    {% endfilter %}
  {% elif options.show_toc_entry %}
    {% filter heading(
      options.heading_level,
      role="action",
      id=data.id,
      class="doc doc-heading",
      toc_label=(('<code class="doc-symbol doc-symbol-toc doc-symbol-action"></code>&nbsp;')|safe if options.show_symbol_type_toc else '') + (options.toc_label if options.toc_label else data.name),
    )%}
    {% endfilter %}
  {% endif %}

  {% block signature scoped %}
    {% if options.show_signature %}
      {% with inputs = data.inputs | order_parameters(options.parameters_order) | filter_parameters(required=True) %}
        {% filter highlight(language="yaml", inline=False, linenums=False) %}
          - uses: {% filter format_action_signature(config.repo, options) %}{{ data.id }}{% endfilter %}
            
            with:
              {%+ for input in inputs %}{{ input.name }}: ''{% endfor %}
        {% endfilter %}
      {% endwith %}
    {% endif %}
  {% endblock signature %}

  {% block description scoped %}
    {% if options.show_description %}
      {{ options.description if options.description else data.description }}
    {% endif %}
  {% endblock description %}

  {% block inputs scoped %}
    {% if options.show_inputs %}
      {% with inputs = data.inputs | order_parameters(options.parameters_order) | filter_parameters(required=options.show_inputs_only_required) %}
        {% include "inputs.html.jinja" with context %}
      {% endwith %}
    {% endif %}
  {% endblock inputs %}

  {% block outputs scoped %}
    {% if options.show_outputs %}
      {% with outputs = data.outputs | order_parameters(options.parameters_order) %}
        {% include "outputs.html.jinja" with context %}
      {% endwith %}
    {% endif %}
  {% endblock outputs %}

  {% block source scoped %}
    {% if options.show_source %}
      <details class="quote">
        <summary>Source of <code>
          {{ data.id }}
        </code></summary>
        {{ data.source|highlight(language="yaml", linenums=True) }}
      </details>
    {% endif %}
  {% endblock %}
</div>
{% if options.show_action_branding and data.branding %}
  <script>feather.replace()</script>
{% endif %}
