{#- Template for outputs.

Context:
  outputs (list of mkdocstrings_handlers.github.objects.Output): The outputs to render.
  data (mkdocstrings_handlers.github.objects.Action | Workflow): The object to render.
  config (mkdocstrings_handlers.github.config.GitHubConfig): The global configuration
  options (dict): The local options
-#}

{% block logs scoped %}
  {{ log.debug("Rendering outputs of " + data.id) }}
{% endblock logs %}

{% set header_id -%}
  outputs-{{ data.id | replace('/', '-') | replace('.', '') | lower }}
{%- endset %}

{% if options.parameters_section_style == "table" %}
  {% block table_style scoped %}
    <p>
      <span class="doc-section-title">Outputs:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for output in outputs %}
          {% if options.parameters_anchors %}
            {% set anchor_id = output.name | anchor_id("outputs", data.id) %}
          {% else %}
            {% set anchor_id = None %}
          {% endif %}
          <tr class="doc-section-item">
            <td id="{{ anchor_id }}">
              <code>{{ output.name }}</code>
              {% if options.parameters_anchors %}
                <a class="headerlink" href="#{{ anchor_id }}" title="Link to {{ output.name }}">¤</a>
              {% endif %}
            </td>
            <td>
              {{ output.description | convert_markdown(options.heading_level, data.id) }}
            </td>
        {% endfor %}
      </tbody>
    </table>
  {% endblock table_style %}
{% elif options.parameters_section_style == "list" %}
  {% block list_style scoped %}
    <p>
      <span class="doc-section-title">Outputs:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <ul>
      {% for output in outputs %}
        {% set anchor_id = output.name | anchor_id("outputs", data.id) %}
        <li class="doc-section-item field-body">
          <b><code>{{ output.name }}</code></b>
          {% if options.parameters_anchors %}
            <a class="headerlink" href="#{{ anchor_id }}" title="Link to {{ output.name }}">¤</a>
          {% endif %}
          <div class="doc-md-description">
              {{ output.description | convert_markdown(options.heading_level, data.id) }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endblock list_style %}
{% endif %}

