{#- Template for secrets.

Context:
  secrets (list of mkdocstrings_handlers.github.objects.Secret): The secrets to render.
  data (mkdocstrings_handlers.github.objects.Workflow): The object to render.
  config (mkdocstrings_handlers.github.config.GitHubConfig): The global configuration
  options (dict): The local options
-#}

{% block logs scoped %}
  {{ log.debug("Rendering secrets of " + data.id) }}
{% endblock logs %}

{% set header_id -%}
  secrets-{{ data.id | replace('/', '-') | replace('.', '') | lower }}
{%- endset %}

{% if options.parameters_section_style == "table" %}
  {% block table_style scoped %}
    <p>
      <span class="doc-section-title">Secrets:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for secret in secrets %}
          {% if options.parameters_anchors %}
            {% set anchor_id = secret.name | anchor_id("secrets", data.id) %}
          {% else %}
            {% set anchor_id = None %}
          {% endif %}
          <tr class="doc-section-item">
           <td id="{{ anchor_id }}">
              {% if secret.required %}
                <strong><code>{{ secret.name }}</code></strong>
              {% else %}
                <code>{{ secret.name }}</code>
              {% endif %}
              {% if options.parameters_anchors %}
                <a class="headerlink" href="#{{ anchor_id }}" title="Link to {{ secret.name }}">¤</a>
              {% endif %}
            </td>
            <td>
              {{ secret.description | convert_markdown(options.heading_level, data.id) }}
            </td>
        {% endfor %}
      </tbody>
    </table>
  {% endblock table_style %}
{% elif options.parameters_section_style == "list" %}
  {% block list_style scoped %}
    <p>
      <span class="doc-section-title">Secrets:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <ul>
      {% for secret in secrets %}
        {% set anchor_id = secret.name | anchor_id("secrets", data.id) %}
        <li class="doc-section-item field-body">
          <b><code>{{ secret.name }}</code></b>
          {%- if secret.required %} - <em>required</em>{% endif %}
          {% if options.parameters_anchors %}
            <a class="headerlink" href="#{{ anchor_id }}" title="Link to {{ secret.name }}">¤</a>
          {% endif %}
          <div class="doc-md-description">
            {{ secret.description | convert_markdown(options.heading_level, data.id) }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endblock list_style %}
{% endif %}
