{#- Template for secrets.

Context:
  secrets (list of mkdocstrings_handlers.github.objects.Secret): The secrets to render.
  data (mkdocstrings_handlers.github.objects.Workflow): The object to render.
  config (mkdocstrings_handlers.github.config.GitHubConfig): The global configuration
  options (dict): The local options
-#}

{% from "_macros.html.jinja" import render_grouped_list %}

{% block logs scoped %}
  {{ log.debug("Rendering secrets of " + data.id) }}
{% endblock logs %}

{# If there are no secrets, do not render anything. #}
{% if secrets | length > 0 %}

{% set header_id -%}
  secrets-{{ data.id | replace('/', '-') | replace('.', '') | lower }}
{%- endset %}

{% if options.parameters_section_style == "table" %}
  {% block table_style scoped %}
    <p>
      <span class="doc-section-title">Secrets:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <table data-gh-parameters>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      {% set grouped_secrets = secrets | group_parameters(options.parameters_groups) %}
      {% for group, group_secrets in grouped_secrets.items() %}
      <tbody>
        {% if options.parameters_group_title_row and grouped_secrets | length > 1 and group != "" %}
        <tr class="doc-section-item">
          <td class="gh-group-title" colspan="2">{{ group }}</td>
        </tr>
        {% endif %}
        {% for secret in group_secrets %}
          {% if options.parameters_anchors %}
            {% set anchor_id = secret.name | anchor_id("secrets", data.id) %}
          {% else %}
            {% set anchor_id = None %}
          {% endif %}
          <tr class="doc-section-item">
           <td id="{{ anchor_id }}">
              {% if secret.required %}
                <strong><code>{{ secret.name }}</code></strong>
              {% else %}
                <code>{{ secret.name }}</code>
              {% endif %}
              {% if options.parameters_anchors %}
                <a class="headerlink" href="#{{ anchor_id }}" title="Link to {{ secret.name }}">¤</a>
              {% endif %}
            </td>
            <td>
              {{ secret.description | convert_markdown(options.heading_level, data.id) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
  {% endblock table_style %}
{% elif options.parameters_section_style == "list" %}
  {% block list_style scoped %}
    <p>
      <span class="doc-section-title">Secrets:</span>
      <a class="headerlink" href="#{{ header_id }}" title="Link to {{ data.name }} outputs">¤</a>
    </p>
    <ul>
      {{ render_grouped_list(secrets, "secrets", options, data) }}
    </ul>
  {% endblock list_style %}
{% endif %}

{% endif %}
