{#- Template for secrets.

Context:
  secrets (list of mkdocstrings_handlers.github.objects.Secret): The secrets to render.
  data (mkdocstrings_handlers.github.objects.Workflow): The object to render.
  config (mkdocstrings_handlers.github.config.GitHubConfig): The global configuration
  options (dict): The local options
-#}

{% block logs scoped %}
  {{ log.debug("Rendering secrets of " + data.id) }}
{% endblock logs %}

{% if options.parameters_section_style == "table" %}
  {% block table_style scoped %}
    <p><span class="doc-section-title">Secrets</span></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Required</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for secret in secrets %}
          <tr class="doc-section-item">
            {% if options.parameters_anchors %}
              <td id="secret-{{ data.id | replace('/', '-') | replace('.', '') | lower }}-{{ secret.name | replace(' ', '-') | lower }}"><code>{{ secret.name }}</code></td>
            {% else %}
              <td><code>{{ secret.name }}</code></td>
            {% endif %}
            <td>{{ "✔️" if secret.required }}</td>
            <td>
              <div class="doc-md-description">
                {{ secret.description | convert_markdown(options.heading_level, data.id) }}
              </div>
            </td>
        {% endfor %}
      </tbody>
    </table>
  {% endblock table_style %}
{% elif options.parameters_section_style == "list" %}
  {% block list_style scoped %}
   <p><span class="doc-section-title">Secrets</span></p>
    <ul>
      {% for secret in secrets %}
        <li class="doc-section-item field-body">
          <b><code>{{ secret.name }}</code></b>
          {%- if secret.required %} - <em>required</em>{% endif %}
          <div class="doc-md-description">
              {{ secret.description|convert_markdown(options.heading_level, data.id) }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endblock list_style %}
{% endif %}
